<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSite</title>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">

            <a href="/blogs" ><div class="header item"><i class="code icon"></i>BlogSite</div></a>

            <%if(!currentUser){%>
                <a href="/register" class="item right">Sign Up</a>
                <a href="/login" class="item ">Log In</a>
            <%}else{%>
                <a href="/new" class="item">New Blog</a>
                <a href="/logout" class="item right">Logout</a>
                <a href="#" class="item ">Signed in as <%=currentUser.username%></a>
            <%}%>

            
        </div>
    </div>

<div class="ui container">

    <%if(errorMessage.length > 0 ){%>
        <br>
        <br>
        <br>
        <br>
        <div style= "margin-bottom: -70px"class="ui red message">
            <p><%=errorMessage%></p>
        </div>
    <%}%>
    <%if(successMessage.length > 0 ){%>
        <br>
        <br>
        <br>
        <br>
        <div style= "margin-bottom: -70px" class="ui blue message">
            <p><%=successMessage%></p>
        </div>
    
    <%}%>
    
</div>
