<%- include("partials/header")%>
<div class="ui main text container segment">
    <div class="ui huge header">New Comment</div>
    <form action="/blogs/<%=blog._id%>/comments/new" class="ui form" method="POST">

        <div class="field">
            <label>Comment Content</label>
            <textarea name="text" id="" cols="30" required rows="10"></textarea>
        </div>
        <button class="ui inverted blue button">Submit!</button>
    </form>
</div>

<%- include("partials/footer")%>
