<%- include("partials/header")%>
<div class="ui main text container segment">
  <div class="ui huge header">New Product</div>
  <form action="/products/new" class="ui form" method="POST">
    <div class="field">
      <label>Title</label>
      <input type="text" name="title" required placeholder="Title" />
    </div>
    <div class="field">
      <label>Image Url</label>
      <input type="text" name="image" required placeholder="Image Url" />
    </div>
    <div class="field">
      <label>Price</label>
      <input type="number" name="price" required placeholder="Price" />
    </div>
    <div class="field">
      <label>Product Description</label>
      <textarea name="body" id="" cols="30" required rows="10"></textarea>
    </div>
    <button class="ui inverted blue button">Submit!</button>
  </form>
</div>

<%- include("partials/footer")%>
