<!DOCTYPE html>
<html>
    <head>
        <title>BlogSite</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/pap.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    

    <div id="landing-header">
     <h1>Welcome to Blog Site!</h1>
      <div id = "description"class="container ui inverted">
        <div class="ui segments raised">
          <div class="ui segment">
            <h4>Community Guidelines</h4>
          </div>

          <div class="ui  segment">
            <p>This community was made for people who want to share their experiences with racism so please refrain from posting about unrelated subjects and please be respectful about other peoples experiences.</p>
		        <a href="/blogs" class="ui button inverted blue small">View All Blogs</a>

          </div>
        </div>
      </div>
      <button onclick = "click()"id = "info"class="ui button inverted blue small">View All Blogs</button>
    
    </div>
    
    <ul class="slideshow">
      <li></li>
 
    </ul>
    <script>
      function click(){
        document.querySelector("#info").style.display="none"
        document.querySelector("#description").style.display = "block"
      }
      document.querySelector("#info").addEventListener("click", click)

    </script>
    <%- include("partials/footer")%>