<!DOCTYPE html>
<html>
    <head>
        <title>web-9045</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <link rel="stylesheet" href="/stylesheets/pap.css" />

        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            type="text/javascript"
            async
        ></script>
    </head>
    <body>
        <div class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <div id="landing-header">
                <h1>Welcome to web-9045!</h1>

                <a class="ui button inverted" href="/products"> View Our Products </a>
            </div>
        </div>
    </body>
    <style>
        .slideshow li:nth-child(1) {
            background-image: url('<%=products[0].image.url%>');
        }
        .slideshow li:nth-child(2) {
            background-image: url('<%=products[2].image.url%>');
            animation-delay: 10s;
        }
        .slideshow li:nth-child(3) {
            background-image: url('<%=products[3].image.url%>');
            animation-delay: 20s;
        }
    </style>
</html>
