<!DOCTYPE html>
<html>
    <head>
        <title>web-9045</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <link rel="stylesheet" href="/stylesheets/pap.css" />

        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            type="text/javascript"
            async
        ></script>
    </head>
    <body>
        <div class="slideshow">
            <li></li>
            <%products.map(x=>{%>
            <li></li>

            <%})%>
            <div id="landing-header">
                <h1>Welcome to web-9045!</h1>

                <a class="ui button blue inverted" href="/products"> View Our Products </a>
            </div>
        </div>
    </body>
    <style>
              <%if(products.length > 0){%>
                  <%products.map(x=>{%>
                  .slideshow li:nth-child(<%=products.indexOf(x)+1%>) {
                  background-image: url('<%=products[products.indexOf(x)].image.url%>');
                  animation-delay: <%=products.indexOf(x)*10%>s;
                  }

              <%})%>
              <%}else{%>
                  .slideshow li {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          opacity: 0;
          z-index: 0;
          animation: imageAnimation 150s linear infinite;
        }
        .slideshow li:nth-child(1) {
          background-image: url("https://images.unsplash.com/photo-1516040553818-957c96b20e8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")
        }

        @keyframes imageAnimation {
          0% {
            opacity: 0;
            animation-timing-function: ease-in;
          }
          10% {
            opacity: 0.5;
            animation-timing-function: ease-in;
          }
          20% {
            opacity: 1
          }
          30% {
            opacity: 1
          }
        }
                  <%}%>
    </style>
</html>
