<%- include("partials/header")%>
<div class="ui main text container segment">
    <div class="ui huge header">Register</div>
    <form action="/blogs/register" class="ui form" method="POST">
        <div class="field">
            <label>Username</label>
            <input type="text" name="username" required>
        </div>

        <div class="field">
            <label>Password</label>
            <input type="password" name="password" required>
        </div>
        <button class="ui inverted blue button inline">Submit!</button>

    </form>
</div>

<%- include("partials/footer")%>
