i.code.icon {
    font-size: 2em;
}
div.container.main {
    margin-top: 6em;
}
.ui.menu.inverted .item {
    color: #54c8ff;
}
.hidden {
    display: none;
}
.ui.menu.inverted .item:hover {
    color: #54c8ff !important;
}
.secondary.pointing.menu .toc.item {
    display: none;
}
.inverted.fixed.menu .toc.item {
    display: none;
}
.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}
#product {
    border: none !important;
    padding-bottom: 0 !important;
}
@media only screen and (max-width: 700px) {
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .inverted.fixed.menu .item,
    .inverted.fixed.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .item#b {
        /* display: block !important; */
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .inverted.fixed.menu .toc.item {
        display: block;
        align-self: center;
    }
    .masthead.segment {
        min-height: 350px !important;
    }
    .masthead h1.ui.header {
        font-size: 2em !important;
        margin-top: 1.5em !important;
    }
    .masthead h2 {
        margin-top: 0.5em !important;
        font-size: 1.5em !important;
    }
}
.ui.secondary.inverted.pointing.menu .item {
    color: #54c8ff !important;
}
.ui.secondary.inverted.pointing.menu .item:hover {
    color: #3aa1d1 !important;
}
.ui.secondary.inverted.pointing.menu .active.item {
    border-color: #54c8ff;
}
#mega {
    font-size: 4em;
}
#mainSeg {
    margin-bottom: 15px !important;
    padding: 1rem !important;
}
.ui.blue.button {
    color: #54c8ff;
    background-color: #fbfbfb;
    border: 1px solid rgba(34, 36, 38, 0.15);
}
.ui.blue.button:hover {
    color: #54c8ff;
    background-color: rgb(236, 235, 235);
    border: 1px solid rgba(34, 36, 38, 0.15);
}
#inpu {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.21428571em;
    padding: 0.37857143em 0.7em;
    font-size: 0.9em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
}
.grey {
    color: grey;
}
.ui.header {
    margin-top: 14px;
}
.ui.dropdown {
    font-size: 1rem;
}
.ui.selection.compact.dropdown.mini {
    margin-top: 20px;
}
div.ui.attached.segment {
    border-bottom-right-radius: 0.28571429rem !important;
    border-bottom-left-radius: 0.28571429rem !important;
}
.in {
    display: inline-block !important;
    padding: 0 10px;
}

input:invalid {
    border: red;
}
.ui.segment.added {
    padding: 80px !important;
}
.ui.segment.added:hover {
    border: 1px solid #54c8ff;
}
#secSeg {
    margin-top: 0;
    margin-bottom: 15px !important;
    max-height: 500px;
    padding: 1rem !important;
}
.ui.grid > .row > .ui.segment.column,
.ui.grid > .ui.segment.column,
.ui.page.grid.segment {
    padding-top: 1rem;
}
.color123 {
    color: #54c8ff;
}
.ui.checkbox {
    top: 50%;
    margin: 0 3px;

    /* position: absolute; */
}
.item.cart {
    position: relative;
}
.block {
    display: block;
}
#card-element {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
}
div.ui.main.text.container {
    margin-top: 100px;
}
.content {
    padding: 20px 3px;
}
.meta {
    padding: 5px 2px;
    font-size: 1.2rem;
}
div.ui.segment {
    padding: 1rem !important;
}
.ui.message {
    font-size: 1rem;
    z-index: 20;
}
.pad {
    margin-top: 80px !important;
    margin-bottom: -70px !important;
}
.ui.fluid.button {
    margin: 5px 0;
}
.right {
    float: right;
}
.hidden {
    display: none;
}
* {
    box-sizing: border-box;
}
body {
    font: 16px Arial;
}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
.ui.form .fields .field {
    margin: 0 0 1em;
}
.ui.form .fields {
    margin: 0 -0.5em 0em;
}
.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}
.masthead .ui.button.icon {
    margin: 0 !important;
}

.ui.vertical.stripe {
    padding: 8em 0em !important;
}
.ui.vertical.stripe:nth-child(3) {
    padding: 4em 0em !important;
}
.ui.vertical.stripe:nth-child(4) {
    padding: 4em 0em !important;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}
.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;

    top: 100%;
    left: 0;
    right: 0;
}
.ui.vertical.segment:last-child {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
.ui.message {
    text-align: left;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
